.testGeneralInformation, .testQuestion
{
	color:#28546C;
	background-color:#AFC2D1;
	font-size:19px;
	width:800px;
	text-align:center;	
}

.question_answer_input
{
	color:#28546C;
	background-color:#AFC2D1;
	font-size:19px;
	width:200px;
	text-align:center;		
}


input[type="radio"]
{
	border-radius: 15px;
	width:15px;
	height:15px;
	padding:20px;
}

select
{
	background-color:#AFC2D1;
	color:#28546C;
}

#category tr td
{
	padding:20px;
}
.nextQuestionAdd
{
	width:150px;
	height:30px;
	background-color:#AFC2D1;
	color:#28546C;
}

.questionTitle
{
	font-weight:bold;	
}


#testSubmit
{
	width:150px;
	height:30px;
	color:#28546C;
	background-color:#6ac65b;
	
}